.text-lg-start {
    margin: 0px auto;
    width: 90%;
    background-color: #57adba !important;
    color: white !important;
}
.lorem{
    width: 700px;
    text-align: center;
    margin: 20px auto;
}
.iconlar{
    text-align: center;
    margin: 20px auto;
}
footer{
    margin-top: 50px !important;
}
.iconlar span{
    padding: 0 20px;
    font-weight: bold;
    font-size:large;
}