@media (min-width: 315px) and (max-width:330px){
    body{
        overflow-x: hidden;
    }
    .lorem{
        width: 200px;
        text-align: center;
        margin: 20px auto;
    }
    .col-sm-4{
        width: 100%;
        margin: 0;
        padding: 0;
        margin-left: 13px;
    }
    .bt{
        width: 130px;
    }
    .productLink {
        display: column;
        text-align: center;
        padding-right: 1px;
    }
    .categories {
        width: 90%;
        margin: 10 auto;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-bottom: 2px solid blue;
        text-align: center;
        margin: 20px auto;
    }
    .reklama{
        text-align: center;
    }
    .reklama img {
        width: 90%;
        height: 500px;
        /* margin: auto; */
        margin: 10px auto;
        border-radius: 10px;
    }
    .col-sm-8 {
        margin: 30px 12px;
        display: flex;
        flex-wrap: wrap;
    }
    #shop, .circul{
        padding: 10px !important;
    }
    #product{
        padding: 0;
    }
    #col{
        margin-top: 20px;
    }
}

@media(min-width:331px) and (max-width:370px){
    body{
        overflow-x: hidden;
    }
    #col{
        margin-top: 20px;
    }
    .lorem{
        width: 200px;
        text-align: center;
        margin: 20px auto;
    }
    .col-sm-4{
        width: 100%;
        margin: 0;
        padding: 0;
        margin-left: 13px;
    }
    .productLink {
        display: column;
        text-align: center;
        padding-right: 1px;
    }
    .categories {
        width: 90%;
        margin: 10 auto;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-bottom: 2px solid blue;
        text-align: center;
        margin: 20px auto;
    }
    .bt{
        width: 130px;
    }
    .reklama{
        text-align: center;
    }
    .reklama img {
        width: 90%;
        height: 500px;
        /* margin: auto; */
        margin: 10px auto;
        border-radius: 10px;
    }
    .col-sm-8 {
        margin: 30px 12px;
        display: flex;
        flex-wrap: wrap;
    }
    #shop, .circul{
        padding: 15px !important;
    }
    .text-lg-start {
        margin: 0px auto;
        width: 90%;
        background-color: #57adba !important;
        color: white !important;
    }
    .foot{
        display: grid;
    }
    #product{
        width: 360px;
    }
}
@media screen and (max-width: 400px){
    body{
        overflow-x: hidden;
    }
    .lorem{
        width: 200px;
        text-align: center;
        margin: 20px auto;
    }
    .col-sm-4{
        width: 100%;
        margin: 0;
        padding: 0;
        margin-left: 13px;
    }
    .productLink {
        display: column;
        text-align: center;
        padding-right: 1px;
    }
    .bt{
        width: 130px;
    }
    #col{
        margin-top: 70px;
    }
    .categories {
        width: 90%;
        margin: 10 auto;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-bottom: 2px solid blue;
        text-align: center;
        margin: 20px auto;
    }
    .reklama{
        text-align: center;
    }
    .reklama img {
        width: 90%;
        height: 500px;
        margin: 10px auto;
        border-radius: 10px;
    }
    .col-sm-8 {
        margin: 30px 12px;
        display: flex;
        flex-wrap: wrap;
    }
    #shop, .circul{
        padding: 15px !important;
    }

    .text-lg-start {
        margin: 0px auto;
        width: 90%;
        background-color: #57adba !important;
        color: white !important;
    }
    .foot{
        display: grid;
    }
    #product{
        width: 400px;
        padding: 10px;
    }
}
@media screen and (max-width: 460px){
    body{
        overflow-x: hidden;
    }
    .lorem{
        width: 200px;
        text-align: center;
        margin: 20px auto;
    }
    .bt{
        width: 130px;
    }
    #col{
        margin-top: 130px;
    }
    .col-sm-4{
        width: 100%;
        margin: 0;
        padding: 0;
        margin-left: 13px;
    }
    .productLink {
        display: column;
        text-align: center;
        padding-right: 1px;
    }
    .categories {
        width: 90%;
        margin: 10 auto;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-bottom: 2px solid blue;
        text-align: center;
        margin: 20px auto;
    }
    .reklama{
        text-align: center;
    }
    .reklama img {
        width: 90%;
        height: 500px;
        margin: 10px auto;
        border-radius: 10px;
    }
    .col-sm-8 {
        margin: 30px 12px;
        display: flex;
        flex-wrap: wrap;
    }
    #shop, .circul{
        padding: 15px !important;
    }
    #respon{
        margin: 0 35px;
    }
    .text-lg-start {
        margin: 0px auto;
        width: 90%;
        background-color: #57adba !important;
        color: white !important;
    }
    .foot{
        display: grid;
    }
    #product{
        width: 460px;
        padding: 10px;
    }
}
@media (width: 500px){
    body{
        overflow-x: hidden;
    }
    .lorem{
        width: 200px;
        text-align: center;
        margin: 20px auto;
    }
    .col-sm-4{
        width: 100%;
        margin: 0;
        padding: 0;
        margin-left: 13px;
    }
    .productLink {
        display: column;
        text-align: center;
        padding-right: 1px;
    }
    .bt{
        width: 130px;
    }
    .categories {
        width: 90%;
        margin: 10 auto;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-bottom: 2px solid blue;
        text-align: center;
        margin: 20px auto;
    }
    .reklama{
        text-align: center;
    }
    .reklama img {
        width: 90%;
        height: 500px;
        margin: 10px auto;
        border-radius: 10px;
    }
    .col-sm-8 {
        margin: 30px 12px;
        display: flex;
        flex-wrap: wrap;
    }
    #shop, .circul{
        padding: 15px !important;
    }
    #respon{
        width: 215px;
    }
    .text-lg-start {
        margin: 0px auto;
        width: 90%;
        background-color: #57adba !important;
        color: white !important;
    }
    .foot{
        display: grid;
    }
    #product{
        width: 500px;
        padding: 10px;
    }
}
@media screen and (max-width:499px){
    body{
        overflow-x: hidden;
    }
    .lorem{
        width: 200px;
        text-align: center;
        margin: 20px auto;
    }
    #col{
        margin-top: 150px;
    }
    .col-sm-4{
        width: 100%;
        margin: 0;
        padding: 0;
        margin-left: 13px;
    }
    .productLink {
        display: column;
        text-align: center;
        padding-right: 1px;
    }
    .bt{
        width: 130px;
    }
    .categories {
        width: 90%;
        margin: 10 auto;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-bottom: 2px solid blue;
        text-align: center;
        margin: 20px auto;
    }
    .reklama{
        text-align: center;
    }
    .reklama img {
        width: 90%;
        height: 500px;
        margin: 10px auto;
        border-radius: 10px;
    }
    .col-sm-8 {
        margin: 30px 12px;
        display: flex;
        flex-wrap: wrap;
    }
    #shop, .circul{
        padding: 15px !important;
    }
    #respon{
        margin: 0 35px;
    }
    .text-lg-start {
        margin: 0px auto;
        width: 90%;
        background-color: #57adba !important;
        color: white !important;
    }
    .foot{
        display: grid;
    }
    #product{
        width: 500px;
        padding: 10px;
    }
}
@media screen and (max-width: 767px){
    body{
        overflow-x: hidden;
    }
    #col{
        margin-top: 150px;
    }
    .bt{
        width: 130px;
    }
    .lorem{
        width: 200px;
        text-align: center;
        margin: 20px auto;
    }
    .col-sm-4{
        width: 100%;
        margin: 0;
        padding: 0;
        margin-left: 13px;
    }
    .productLink {
        display: column;
        text-align: center;
        padding-right: 1px;
    }
    .categories {
        width: 90%;
        margin: 10 auto;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-bottom: 2px solid blue;
        text-align: center;
        margin: 20px auto;
    }
    .reklama{
        text-align: center;
    }
    .reklama img {
        width: 90%;
        height: 500px;
        margin: 10px auto;
        border-radius: 10px;
    }
    .col-sm-8 {
        margin: 30px 12px;
        display: flex;
        flex-wrap: wrap;
    }
    #shop, .circul{
        padding: 15px !important;
    }
    #respon{
        margin: 0 35px;
    }
    .text-lg-start {
        margin: 0px auto;
        width: 90%;
        background-color: #57adba !important;
        color: white !important;
    }
    .foot{
        display: grid;
    }
    #product{
        width: 460px;
        padding: 10px;
    }
}
